.header__link {
  text-decoration: none;
  display: inline;
  color: #2f80ed;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.header__link:hover {
  opacity: 0.7;
}
